# Formatting previously scraped data

- Doing so on seperate doc to make looking at analysis easier

In [1]:
import pandas as pd
import datetime as dt
import numpy as np

In [2]:
#explore data
df = pd.read_csv('marathons_all_no_index.csv')
print(len(df))
print(df.head(10))

12205
                                             0                      1  \
0                 Christmas Marathon - Results        Olympia, WA USA
1              Jacksonville Marathon - Results   Jacksonville, FL USA
2         Dallas White Rock Marathon - Results         Dallas, TX USA
3                  Honolulu Marathon - Results       Honololu, HI USA
4           Hops Marathon by the Bay - Results          Tampa, FL USA
5             Kiawah Island Marathon - Results  Kiawah Island, SC USA
6               Rocket City Marathon - Results     Hunstville, AL USA
7  California International Marathon - Results     Sacramento, CA USA
8                   Memphis Marathon - Results        Memphis, TN USA
9                   Raleigh Marathon - Results        Raleigh, NC USA

                   2                                                 3  \
0  December 17, 2000    Male Winner: 2:49:35 | Female Winner: 3:18:51
1  December 16, 2000       Finishers: 683, Males - 486 , Females - 197
2  December 10, 2000    Finishers: 3127, Males - 2089 , Females - 1038
3  December 10, 2000  Finishers: 22632, Males - 13174 , Females - 9458
4  December 10, 2000     Finishers: 2308, Males - 1344 , Females - 964
5   December 9, 2000      Finishers: 1007, Males - 652 , Females - 355
6   December 9, 2000      Finishers: 1014, Males - 779 , Females - 235
7   December 3, 2000    Finishers: 2706, Males - 1594 , Females - 1112
8   December 3, 2000       Finishers: 695, Males - 497 , Females - 198
9   December 3, 2000      Finishers: 1059, Males - 697 , Females - 362

                                                 4  \
0     Average Finish Time: 4:08:45 | STD: 0:51:02
1   Male Winner: 2:37:08 | Female Winner: 3:06:06
2   Male Winner: 2:26:27 | Female Winner: 2:54:20
3   Male Winner: 2:15:19 | Female Winner: 2:28:33
4   Male Winner: 1:49:12 | Female Winner: 2:54:55
5   Male Winner: 2:36:46 | Female Winner: 3:06:00
6   Male Winner: 2:21:38 | Female Winner: 2:44:52
7   Male Winner: 2:15:38 | Female Winner: 2:38:16
8   Male Winner: 2:23:36 | Female Winner: 2:51:11
9   Male Winner: 2:31:10 | Female Winner: 2:55:46

                                              5    6
0                                                NaN
1  Average Finish Time: 4:12:18 | STD: 0:47:42   NaN
2  Average Finish Time: 4:21:47 | STD: 0:45:03   NaN
3  Average Finish Time: 5:51:18 | STD: 1:30:23   NaN
4  Average Finish Time: 4:42:01 | STD: 1:00:22
5  Average Finish Time: 4:11:42 | STD: 0:50:29   NaN
6  Average Finish Time: 4:04:22 | STD: 0:44:29   NaN
7  Average Finish Time: 4:07:56 | STD: 0:44:57   NaN
8  Average Finish Time: 4:14:54 | STD: 0:42:27   NaN
9  Average Finish Time: 4:19:32 | STD: 0:44:56   NaN

In [3]:
#columns for edited data
columns = ['name', 'year', 'month', 'day', 'date', 'location', 'male_winner', 'female_winner', 'finishers', 'male_finishers',
           'female_finishers', 'avg_finish', 'std']

df_edited = pd.DataFrame(columns = columns)
#easy columns to sort
df_edited['name'] = df['0'].str.rstrip(' - Results').str.lower()
df_edited['location'] = df['1']
df_edited['date'] = df['2']

#finishers columns: first pull finishers from original df
#then pull males and include 'males - ' so it doesn't match total finishers number 
#and then extract just number, do the same for females, than total finishers last
finishers_3 = df['3'].str.contains('Finishers')
df_edited['finishers'] = df['3'].where(finishers_3, other = '')
df_edited['male_finishers'] = df_edited['finishers'].str.extract(r'(Males - [0-9]+)')
df_edited['male_finishers'] = df_edited['male_finishers'].str.extract(r'([0-9]+)')
df_edited['female_finishers'] = df_edited['finishers'].str.extract(r'(Females - [0-9]+)')
df_edited['female_finishers'] = df_edited['female_finishers'].str.extract(r'([0-9]+)')
df_edited['finishers'] = df_edited['finishers'].str.extract(r'([0-9]+)')

#create month and day columns
df_edited['date'] = df_edited['date'].astype('datetime64[ns]')
df_edited['year'] = pd.DatetimeIndex(df_edited['date']).year
df_edited['month'] = pd.DatetimeIndex(df_edited['date']).month
df_edited['day'] = pd.DatetimeIndex(df_edited['date']).day

#average finish time and std
average_5 = df['5'].str.contains('Average Finish')
average_4 = df['4'].str.contains('Average Finish')
average_4_vals = df['4'].where(average_4)
df_edited['avg_finish'] = df['5'].where(average_5, other = average_4_vals)
df_edited['std'] = df_edited['avg_finish'].str.extract(r'(STD: [0-9]:[0-9]{2}:[0-9]{2})')
df_edited['std'] = df_edited['std'].str.slice(start = 5)
df_edited['avg_finish'] = df_edited['avg_finish'].str.extract(r'([0-9]{1,2}:[0-9]{2}:[0-9]{2})')

#male and female winners
winners_4 = df['4'].str.contains('Male Winner')
winners_3 = df['3'].str.contains('Male Winner')
winners_3_vals = df['3'].where(winners_3)
df_edited['male_winner'] = df['4'].where(winners_4, other = winners_3_vals)
df_edited['female_winner'] = df_edited['male_winner'].str.extract(r'(Female Winner: [0-9]{1,2}:[0-9]{2}:[0-9]{2})')
df_edited['female_winner'] = df_edited['female_winner'].str.extract(r'([0-9]{1,2}:[0-9]{2}:[0-9]{2})')
df_edited['male_winner'] = df_edited['male_winner'].str.extract(r'([0-9]{1,2}:[0-9]{2}:[0-9]{2})')
                                                 
#column type mapping
col_mapping = {'finishers': float, 'male_finishers': float, 'female_finishers': float
              }
print(df_edited.dtypes)
print(df_edited.head(10))

df_edited.to_csv('marathons_clean.csv', index = False)

name                         object
year                          int64
month                         int64
day                           int64
date                 datetime64[ns]
location                     object
male_winner         timedelta64[ns]
female_winner       timedelta64[ns]
finishers                   float64
male_finishers              float64
female_finishers            float64
avg_finish          timedelta64[ns]
std                 timedelta64[ns]
dtype: object
                                name  year  month  day       date  \
0                 christmas marathon  2000     12   17 2000-12-17
1              jacksonville marathon  2000     12   16 2000-12-16
2         dallas white rock marathon  2000     12   10 2000-12-10
3                  honolulu marathon  2000     12   10 2000-12-10
4           hops marathon by the bay  2000     12   10 2000-12-10
5             kiawah island marathon  2000     12    9 2000-12-09
6               rocket city marathon  2000     12    9 2000-12-09
7  california international marathon  2000     12    3 2000-12-03
8                   memphis marathon  2000     12    3 2000-12-03
9                   raleigh marathon  2000     12    3 2000-12-03

                location male_winner female_winner  finishers  male_finishers  \
0        Olympia, WA USA    02:49:35      03:18:51        NaN             NaN
1   Jacksonville, FL USA    02:37:08      03:06:06      683.0           486.0
2         Dallas, TX USA    02:26:27      02:54:20     3127.0          2089.0
3       Honololu, HI USA    02:15:19      02:28:33    22632.0         13174.0
4          Tampa, FL USA    01:49:12      02:54:55     2308.0          1344.0
5  Kiawah Island, SC USA    02:36:46      03:06:00     1007.0           652.0
6     Hunstville, AL USA    02:21:38      02:44:52     1014.0           779.0
7     Sacramento, CA USA    02:15:38      02:38:16     2706.0          1594.0
8        Memphis, TN USA    02:23:36      02:51:11      695.0           497.0
9        Raleigh, NC USA    02:31:10      02:55:46     1059.0           697.0

   female_finishers avg_finish      std
0               NaN   04:08:45 00:51:02
1             197.0   04:12:18 00:47:42
2            1038.0   04:21:47 00:45:03
3            9458.0   05:51:18 01:30:23
4             964.0   04:42:01 01:00:22
5             355.0   04:11:42 00:50:29
6             235.0   04:04:22 00:44:29
7            1112.0   04:07:56 00:44:57
8             198.0   04:14:54 00:42:27
9             362.0   04:19:32 00:44:56